body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page hr{
    width: 80%;
    border: 1px solid black;
}
.main-image{
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.detail-image{
    margin-top: 5px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.recipes-name{
    font-size: 2rem;
}

.sub-images{
    width: 162px;
    height: 120px;
    object-fit: cover;
}

.ingredients-topic{
    font-size: 1.2rem;
}

.sub-images:hover{
    transform: scale(1.1);
}

.recipes-head{
    margin-top: 50px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.ingredients-list{
    padding: 10px;
    height: 400px;
    overflow-y: auto;
}

.button-set{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-set a button{
    width: 150px;
    height: 35px;
    background-color: rgb(100, 218, 100);
    border-radius: 15px;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid rgb(100, 218, 100);
}

#Previous-page{
    background-color: white;
    border: 1px solid gray;
    color: gray;
}

footer{
    margin-top: 50px;
    border-top: 1px solid gray;
    background-color: rgb(100, 218, 100);
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

:root {
    --custom-text: "Copyright © 2025 All Rights Reserved.";
}

footer::before{
    content: var(--custom-text);
    color: white;
}

.image-set-2{
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.dink-image{
    width: 350px;
    height: 450px;
    object-fit: cover;
}

.detail-image-type-2{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-images-side{
    width: 150px;
    height: 144px;
    object-fit: cover;
}

.sub-images-side:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 1024px) and (max-width: 1440px){
    .main-image{
        width: 400px;
        height: 400px;
    }
    .sub-images{
        width: 130px;
        height: 100px;
    }
    .detail-image{
        width: 400px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){

}
@media screen and (min-width: 425px) and (max-width: 767px){

}
@media screen and (min-width: 375px) and (max-width: 424px){

}
@media screen and (min-width: 320px) and (max-width: 374px){

}
@media screen and (min-width: 0px) and (max-width: 319px){

}